$primary-color: #FF6700;
$border-color: #FFA200;
$red-one: #F8001D;
$text-color: #6B0072;


body    {
    background-color: $border-color;
}

.container  {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

h1  {
    color: $text-color;
    font-family: 'Pacifico', cursive;
}

p   {
    color: $text-color;
    font-family: 'Pacifico', cursive;   
}